@charset "UTF-8";

.speech {
  position: relative;
  width: 500px;
  background: #fad296;
  border: solid 5px #815a0a;
  border-radius: 16px;
  padding: 20px;
  margin: 0 auto;
}

.speech p {
  font-size: 16px;
  line-height: 16px;
}

.speech::before,.speech::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 10%;
  border: 15px solid transparent;
  border-top: 15px solid #fad296;
}


.speech::before {
  bottom: -24px;
  border-top: 15px solid #fad296;
  z-index: 2;
}

.speech::after {
  bottom: -34px;
  border-top: 17px solid #815a0a;
  z-index: 1;
}
